**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db
**/.editorconfig
docker/db/data/
helm/
repo/.php_cs.cache
repo/.env.*
repo/bin/*
!repo/bin/console
repo/public/bundles/
repo/var/
repo/vendor/
